<div id="mainCV" class="mainCV">
        <div class="builder" id="builder">
                <pre id="typewriter" class="mainTypewriter">
<span class="root-highlight">root@tjth-cv:~$</span> echo ".div70 {width:70%;float:left;}" | tee -a public/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".left {background:white;}" | tee -a public/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".blackText {color:#272727;}" | tee -apublic/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".right {background:#00733f}" | tee -apublic/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".right .linkColour {color:white;text-decoration: underline } .left .linkColour {color:black; text-decoration: underline;}" | tee -a public/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".columnPadding {padding: 15px;}" | tee -a public/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo "p {font-family:'Open Sans';}" | tee -a public/stylesheets/styles.css
<span class="root-highlight">root@tjth-cv:~$</span> echo ".left .h2Border {border-top: solid 1px #00733f;} .right .h2Border {border-top: solid 1px white;}" | tee -a public/stylesheets/styles.css
                </pre>
        </div>
        <div class="row">
                <div id="width70 left" class="column">
                        <h2>Tim Harrison</h2>
<img src="/img/timh.png" class="me" />
                        <p>
                                <i class="fas fa-envelope"></i> <a href="mailto:tim@tjth.co">tim@tjth.co</a>
                        </p>
                        <p>
                                <span class="green">Aim: </span>To use my technical expertise and excellent
                                communication skills to help a team achieve success.
                        </p>
                        <h2>Key Skills </h2>
                        <p>
                                <span class="green">Cloud Management:</span> I have over 6 years experience working with
                                AWS (EC2, S3, Cloudfront, EKS, IAM, EFS, Storage Gateway, Load Balancers, Autoscaling Groups, RDS,
                                Cloudtrail, Cloudwatch, EKS, KMS). I also have experience working with GCP (Including
                                GKE, Networking), Azure (limited) and other smaller Cloud Providers (Scaleway, Digital
                                Ocean etc) as well as code hosting platforms such as Heroku.
                        </p>
                        <p>
                                <span class="green">Cloud Security:</span> I have proven experience working with security services within AWS  
                                (AWS Config, Cloudtrail, Security Hub, Guardduty etc). I have also written design documents for AWS Client VPN,
                                CIS Compliance etc.
                        </p>
                        <p>
                                <span class="green">DevOps:</span> CI/CD (Gitlab / Github / Teamcity / Jenkins),
                                Ansible (inc AWX), Building and deploying Pipelines, Docker (docker,docker-compose), 
                                Kubernetes (Helm, ISTIO, Velero Backups, Rancher, EKS, GKE) and IAC (Terraform, Cloudformation). 
                        </p>
                        <p>
                                <span class="green">Communication Skills: </span> Strong communication skills both
                                written and verbal, both in team leadership and Customer facing account management to key
                                stakeholders and budget owners (Including project and incident management with communication).
                        </p>
                        <p>
                                <span class="green">Network Management:</span> Physical Networking, TCP/IP, VLAN, DHCP
                                (Windows, linux DHCPD), DNS (Windows, Linux BIND), Cisco, Juniper, Wireless (Cisco, Ubiquiti),
                                SNMP, Log management (ELK, Graylog), VPN (Openvpn, L2TP/IPsec), DNS and Domain Management, 
                                SSL Certificates (Inc Lets Encrypt), Two Factor Authentication (Duo Mobile, Google Authenticator), Network Security.
                        </p>
                        <p>
                                <span class="green">Server Management:</span> Physical Hardware Management (Purchasing,
                                Hardware + Software RAID), Virtualisation (Vmware, Hyper-V, KVM), Windows Server (2002-2019),
                                Linux (Ubuntu, Redhat, CentOS), backups (Inc Acronis, VMWare, Windows Server Backup),
                                Kubernetes, Docker, docker-compose, Monitoring (Nagios), Databases (SQL, MySQL, Mongodb, redis, 
                                redis-cluster), Log Management (rsyslog, Windows Events). Cloud hosted solutions (AWS, Azure, Digital Ocean).
                        </p>

                        <p>
                                <span class="green">Coding:</span> Bash, Python, Javascript, Powershell, HTML, CSS, Code
                                Versioning (Gitlab, Github, SVN).
                        </p>
                        <p>
                                <span class="green">Project Management:</span> SOC and SIEM implementation,  consultancy, Office 365 Migrations, P2V
                                (Physical > Virtual Server Migrations), Brand Development (Inc Website, Corporate Branding,
                                Marketing Campaigns) working to tight Deadlines with close Customer contact. Understanding of App
                                Development processes (Agile) and different release methods (Canary, Blue / Green).
                        </p>

                        <h2>Achievements</h2>
                        <p>
                        <span class="green">DevOps - CI/CD Implementation:</span> Built a CI/CD Pipeline from design through to implementation 
                        with requirements from team leaders - Combining Gitlab, Jenkins Multibranch Pipelines, Helm, Kubernetes, Slack,
                        Jira (Transitions, RemoteLinks, Comments) and Private NPM Repository.
                        </p>
                        <p>
                                <span class="green">DevOps/Sysadmin - Documentation:</span> Build a self-hosted Documentation platform
                                based on Python. Ensuring processes are in place for documentation to be update for all system changes 
                                and systems to be self-documenting where possible (Eg using input from Nagios monitoring system for server config).
                        </p>
                        <p>
                                <span class="green">Consultancy - Office 365 Migration:</span> Worked with a local charity to
                                advise on the upgrade from their legacy POP based email solution. From this, I completed
                                0-Downtime Migration of 30 Mailboxes to Office 365 and migration from an on premise storage
                                solution to Onedrive.
                        </p>
                        <p>
                                <span class="green">Set up Business and Tech Article Website:</span> Set up my own Business
                                creating Websites for clients, offering Consultancy and one-off projects. My website for
                                articles based on my experience working with Linux servers and various applications consistently
                                gets >500 Unique visitors per week.
                        </p>
                        <p>
                                <span class="green">Network and Server Management:</span> Managed company servers, network,
                                Cloud hosted servers (Including 24/7 Support). Replaced Legacy hardware with fully virtualised
                                environment and resolved longstanding issues.
                        </p>
                        <p>
                                <span class="green">Bespoke Website with Database:</span> Wrote a web application based in
                        Python for Music Management startup, including Python Web UI (With account permissions),
                        database backend (to Cloud hosted Database).
                </p>
                        <h2>Employment History</h2>
                        <p>
                                <span class="green">Smart Pensions (April 2021 - Present) DevOps Engineer (Platform Security Team):</span> I am currently working as part of a wider DevOps team of 20+ engineers, working on a range of technologies building, supporting and securing AWS via IAC (Terraform). I work in the Platform Security sub-team, working on implementing various AWS security infrastructure modules (AWS Config, Cloudtrail, Guardduty) including management of alerts via Datadog to our team chat platform.
                        </p>
                        <p>
                                I have lead a number of high priority security incidents, including communication to senior members of staff, detailed timelines and incident reporting (Post Mortem analysis) and am the primary security support engineer (Responding to alerts from Datadog and assessing before deciding on resolution path).

                        </p>
                        <p>
                                <span class="green">Xara LTD (Jan 2017 - April 2021) Senior Sysadmin / Devops Team Lead:</span> Running a team managing local
                                network (Servers, Desktops, Physical Network), 24/7 support for Production system, Project
                                planning (Server Upgrades, Virtualisation, Cloud Migrations) and supporting internal staff, cluster of web servers. Working to delivery schedule to complete development tasks
                                efficiently to cut expenditure while ensuring quality of service. 
                        </p>
                        <p>     
                                In this role I virtualised all in-house servers which were previously bare-metal and migrated a large number of internal services to Docker / Kubernetes setup (Both in-house and AWS cloud hosted in EKS / EC2 / S3).
                        </p>
                        <p>     
                                I have lead the building of our internal DevOps team focusing on migrating services to Kubernetes (Including backups, monitoring, deployment and scaling) and assisting Developers to focus on coding by implementing CI/CD processes (Taking on existing Teamcity implementation and migration to Jenkins). A large number of internal Sysadmin functionality has been migrated to Automated Tasks, allowing for the Sysadmin Team to focus on Projects and Team Support.
                        </p>
                        <p>
                                <span class="green">iQuda (Jan 2011 - Jan 2017) Various Roles (Service Desk Management / Level 3 Technician):</span> Rose quickly through the company, starting as a Web Developer before starting in Tech Support as a Level 1 Technician, moving through to Level 3 then onto Servicedesk Management and Project planning. This
                                role included implementing and improving on processes and procedures, Customer account
                                management and Reporting for Client contacts and internal management.
                        </p>
                        <h2>Education</h2>
                        <p><span class="green">AWS Solution Architect:</span> I am currently working on my AWS Solutions
                                Architect
                                training and aim to complete the certification in the following Months.
                        </p>
                        <p><span class="green">Additional Courses:</span> Udemy Courses in ITIL, Python, Kubernetes.
                        </p>
                        <p><span class="green">Parmiter's School:</span> A Levels in Sociology, History, IT and English
                        </p>
                </div>
                <div id="width30 right" class="column">
                        <h2>About Me</h2>
                        <p>I am a self-motivated team player with experience in both heavily technical roles and client
                                facing
                                account
                                management roles. I am a good communicator (both written and verbal) and have an ability
                                to form
                                close
                                relationships with internal team and external shareholders.</p>

                        <p>I am flexible with working hours and travel and have held a full, clean UK driving license
                                for >10
                                Years.</p>

                        <p>I am strong technically, with the ability to make strategic decisions under time and budget
                                constraints and
                                execute reliably.</p>
                        <h2>Contact Details</h2>
                        <p>
                                <i class="fas fa-phone-square"></i> +44 7872599064
                        </p>
                        <p>
                                <i class="fas fa-envelope"></i> <a href="mailto:tim@tjth.co">tim@tjth.co</a>
                        </p>
                        <p>
                                <i class="fas fa-pager"></i> <a href="https://tjth.co"
                                        target="_blank">https://tjth.co</a>
                        </p>
                        <p>
                                <i class="fab fa-linkedin"></i> <a
                                        href="https://www.linkedin.com/in/tim-harrison-47b11159/"
                                        target="_blank">LinkedIn</a>
                        </p>
                        <p>
                                <i class="fab fa-github"></i> <a href="https://github.com/tjtharrison/"
                                        target="_blank">Github</a>
                        </p>
                        <h2>Hobbies:</h2>
                        <p>
                                While away from the Computer I spend my time working on DIY projects around the house and going on bike rides.
                        </p>
                        <p>
                                In the evenings I am working on a project combining my training with Python and React (Native) to build a mobile app with Python API deployed on AWS hosted infrastructure (Infrastructure via Terraform).
                        </p>
                </div>
        </div>
</div>