<pre id="typewriter" class="hideBuilt">
<span class="root-highlight">root@tjth-cv:~#</span> git clone git@github.com:tjtharrison/cv2.0.git
<span class="root-highlight">root@tjth-cv:~#</span> cd cv2.0
<span class="root-highlight">root@tjth-cv:~/cv2.0/</span> terraform init
<span class="static">Terraform initalised!</span>
<span class="root-highlight">root@tjth-cv:~/cv2.0/</span> terraform apply
<span class="static">applying..</span>
<span class="static">applying..</span>
<span class="static">applying..</span>
<span class="static">applied!</span>
<span>Reloading page...</span>
</pre>
<script>
        $(document).ready(function () {
                setInterval(function () {
                        reload_page()
                }, 21000);
        });

        function reload_page() {
                document.cookie = "buildState=built"
                window.location = "/";
        }
</script>